/* #region GLOBAL RULES */

body {
    /* font-family: Helvetica, sans-serif; */
}

/* #endregion GLOBAL RULES */

/* #region VARIABLES */

:root {
    --bf_l_green: #1abc9c;
    --bf_d_blue: #2c3e50;
    --bf_m_blue: #3a546d;
}

/* #endregion VARIABLES */

/* #region COLORS */

#hero,
#about {
    background-color: var(--bf_l_green);
}

.bf_text_l_green {
    color: var(--bf_lgreen);
}

.bf_bg_d_blue {
    background-color: var(--bf_d_blue);
}

.bf_text_d_blue {
    color: var(--bf_d_blue);
}

.bf_bg_m_blue {
    background-color: var(--bf_m_blue);
}

/* #endregion COLORS */

/* #region H1 WITH STAR SPACER */

.bf_star_line {
    height: 3px;
    border-radius: 5px;
}

/* #endregion H1 WITH STAR SPACER */

/* #region NAVBAR */

.bf_fs_smaller {
    font-size: 0.8rem;
}

.bf_no_shadow.navbar-toggler:focus {
    box-shadow: none;
}

.bf_filter_invert {
    filter: invert();
}

/* #endregion VAVBAR */

/* #region FOOTER */

.bf_btn_circle {
    width: 2.5rem;
    height: 2.5rem;
}

.copyright {
    font-size: 0.7rem;
}

/* #endregion FOOTER */