/* #region DEBUG RULES */

.debug * {
    border: 1px dashed;
}

/* #endregion DEBUG RULES */

/* #region GLOBAL RULES */

body {
    /* font-family: Helvetica, sans-serif; */
}

/* #endregion GLOBAL RULES */

/* #region VARIABLES */

:root {
    --bf_lgreen_bg: #1abc9c;
    --bf_dblue: #2c3e50;
    --bf_mblue: #3a546d;
}

/* #endregion VARIABLES */

/* #region COLORS */

#hero,
#about {
    background-color: var(--bf_lgreen_bg);
}

.bf_bg_d_blue {
    background-color: var(--bf_dblue);
}

.bf_text_d_blue {
    color: var(--bf_dblue);
}

.bf_bg_m_blue {
    background-color: var(--bf_mblue);
}

/* #endregion COLORS */

/* #region H1 WITH STAR SPACER */

.bf_star_line {
    height: 3px;
    border-radius: 5px;
}

/* #endregion H1 WITH STAR SPACER */

/* #region NAVBAR */

/*--------- WORK IN PROGRESS ---------*/
nav {
    height: 3rem;
}

/* #endregion VAVBAR */

/* #region HERO */

.bf_avatar_container {
    width: 20%;
}

/* #endregion HERO */

/* #region FOOTER */

.copyright {
    font-size: 0.7rem;
}

.bf_btn_circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
}

/* #endregion FOOTER */